@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root{
    --succes-color: #2ecc71;
    --error-color: #e74c3c;
}
.container{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    width: 400px;
}
body{
    background-color: #f9fafb;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
h2{
    text-align: center;
    margin: 0 0 20px;
}
.form{
    padding: 30px 40px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

div{
    margin-bottom: 20px;
}
*{
    box-sizing: border-box;
}
.form-control label{
    display: block;
    color: #777;
    margin-bottom: 5px;
}
.form-control input{
    border: 2px solid #bfb5b5;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}
.form-control input:focus{
    outline: 0;
    border-color: #777;
}

.form-control #expired{
    width: 30%;
}

.form-control select{
    border: 2px solid #bfb5b5;
    border-radius: 4px;
    width: 30%;
    padding: 10px;
    font-size: 14px;
}

.form-control #day{
    width: 30%;
}

.form-control .input-radio{
    width: 5%;
}

.form-control.success input{
    border-color: var(--succes-color);
}

.form-control.error input{
    border-color: var(--error-color);
}

.form-control small{
    color : var(--error-color);
    position: relative;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
}

.form-control button{
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}